
<div>
	<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a class="page-scroll" href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#rsvp">RSVP</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#location">Location</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#travel">Travel</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#program">Programme</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
	<div class="row">
		<div id="rsvp" class="col-lg-8 col-lg-push-2">
			<div class="first-section section">
				<b><h2 class='hl'>Hi Friends!</h2></b>
				<p>We can't wait for the wedding and to celebrate together!</p>
				<p>We are going to update this page, so keep an eye on it. Until then please submit your response until the 5th of April, 2017<a class='feedback' target='_blank' 
				href='https://docs.google.com/forms/d/e/1FAIpQLSciEK7zetQrlIFzrap02dHSGFfH1wqqCIkmDoU5OOV4PV3T3A/viewform' ><br/>here!</a></p>
			</div>
			

			<div id="location" class="section">
				<b><h2 class='hl'>Location</h2></b>
				<p><a target='_blank' href="http://www.somogykertje.hu/">Somogy Kertje Üdülõfalu</a></p>

				<iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d696100.246467876!2d17.91023618874991!3d47.0374524156037!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0x4741c334d1d4cfc9%3A0x400c4290c1e1160!2sBudapest%2C+Hungary!3m2!1d47.497912!2d19.040235!4m5!1s0x476834293241afe7%3A0x58516375632a3f3d!2sKossuth+Lajos+u.+90%2C+Bonnya%2C+7281+Hungary!3m2!1d46.588963!2d17.900676!5e0!3m2!1sen!2suk!4v1487241343889" width="400" height="300" frameborder="0" style="border:0; margin: 0 25%;" allowfullscreen></iframe>
			</div>

			<div id="travel" class="section">
				<b><h2 class='hl'>Travel</h2></b>
				<p>
					We will try to pair up everyone with extra space in their car with those who doesn't have one, so we would be very grateful if you could help! One way or another we will transport everyone to the location, just make sure you get to Siófok or Kaposvár!
				</p>

				<p style="margin-bottom: 20px;">
					To make this easier, please let us know if you need or can give someone a lift.
				</p>
					<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSc92SnH2xfGeoLx3pbOKGPV9vzUNZ2Oo1YS_Ui4Y_hey3BYAg/viewform?embedded=true" width="760" height="1050" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
			</div>

			<div id="program" class="section">
				<b><h2 class='hl'>June 3 Timeline</h2></b>

				<p>Coming soon!</p>
			</div>
			<div class="section last-section">
				<p>
					If you have any question ask us or write to kataendreeskuvoje@gmail.com! 
				</p>
			</div>
				
				

				


				
			
		</div>
	</div>
</div>