
<div>
	<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a class="page-scroll" href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#rsvp">RSVP</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#location">Location</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#travel">Travel</a>
                    </li>
		    <li>
                        <a class="page-scroll" href="#accomodation">Accomodation</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#program">Programme</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
	<div class="row">
		<div id="rsvp" class="col-lg-8 col-lg-push-2">
			<div class="first-section section">
				<b><h2 class='hl'>Dear Friends!</h2></b>
				<p>We look forward to celebrate with you on our wedding day!</p>
				<p>Please submit your RSVP until the 5th of April, 2017<a class='feedback' target='_blank'
				href='https://docs.google.com/forms/d/e/1FAIpQLSciEK7zetQrlIFzrap02dHSGFfH1wqqCIkmDoU5OOV4PV3T3A/viewform' ><br/>here!</a></p>
                <p>Thank you!</p>
			</div>


			<div id="location" class="section">
				<b><h2 class='hl'>Location</h2></b>
				<p>The venue of the ceremony<i class="em em-ring"></i><i class="em em-couplekiss"></i>the dinner<i class="em em-fork_and_knife"></i><i class="em em-cow2"></i> and the party<i class="em em-dancer"></i><i class="em em-tada"></i> is at
                    <br/><a target='_blank' href="http://www.somogykertje.hu/">Somogy Kertje Üdülõfalu</a>
                Bonnya, Hungary, Kossuth Lajos u. 90.
                </p>
                <img class="center-block" src="/assets/images/etterem.jpg">

				<iframe class="center-block" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2741.912709531159!2d17.89848731549933!3d46.588962979130436!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x68aa6ec23184ab1!2sGarden+Village+of+Somogy!5e0!3m2!1sen!2suk!4v1487710225413" width="600" height="450" frameborder="0" style="border:0;margin-top: 30px;" allowfullscreen></iframe>
			</div>

			<div id="travel" class="section">
				<b><h2 class='hl'>Travel</h2></b>


                <p>It is possible to take a bus there, but we strongly recommend to travel by car as the bus is very slow and uncertain.</p>
                <p>
                    Let us know if you need a lift or if you can accomodate other passengers.
                </p>


			</div>
			
			<div id="accomodation" class="section">
				<b><h2 class='hl'>Accomodation</h2></b>
				<p>Accomodation is available in the rooms of Somogy Kertje Village.</p>
                		<p>We have an option to stay there from the 2nd to the 4th of June. The venue is in a tiny village surrounded by green hills, has a swimming pool, sauna, restaurant.  We would be happy if you'd stay with us for a 3-day holiday! :)</p>
				<p>
					One night is 5800 HUF/person, Hungarian style breakfast included.
				</p>
				<p>Submitting your accomodation request is included in the RSVP. We are going to book it on your behalf and then we can deal with the payment details between ourselves.</p>
			</div>

			<div id="program" class="section">
				<b><h2 class='hl'>June 3 Timeline</h2></b>

				<p>16:00 - 17:00 — Welcome bites at the restaurant</p>
				<p><b>17:15 — Ceremony</b></p>
				<p>19:00 — Dinner</p>
				<p>21:00 — First Dance</p>
				<p>23:15 — Cake</p>
				<p>24:00 — Menyecsketanc (you'll see :), midnight dinner</p>

			</div>

			<div class="section last-section">
				<p>
					contact: kataendreeskuvoje@gmail.com
				</p>
			</div>
		</div>
	</div>
</div>
