
<div>
	<div class="row">
		<div class="col-lg-8 col-lg-push-2">
			<div class="first-section section">
				<b><h2 class='hl'>Hi Friends!</h2></b>
				<p>We can't wait for the wedding and to celebrate together!</p>
				<p>We are going to update this page, so keep an eye on it. Until then please submit your response until the 5th of April, 2017<a class='feedback' target='_blank' 
				href='' ><br/>here!</a></p>
			</div>
			

			<div class="section">
				<b><h2 class='hl'>Location</h2></b>
				<p><a target='_blank' href="http://www.somogykertje.hu/">Somogy Kertje Üdülõfalu</a></p>

				<p>How to get there by car:</p> 
				<a target='_blank' href="https://www.google.co.uk/maps/dir/Budapest,+Hungary/Bonnya,+Hungary/@47.0391615,17.9725625,9z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x4741c334d1d4cfc9:0x400c4290c1e1160!2m2!1d19.040235!2d47.497912!1m5!1m1!1s0x47683431be84eb31:0x5732a495af28a033!2m2!1d17.9010074!2d46.5935409"><p>from Budapest, on motorway (has tolls!)</p></a>
			</div>

			<div class="section">
				<b><h2 class='hl'>June 3 Timeline</h2></b>

				<p>Coming soon!</p>

			<div class="section last-section">
				<p>
					If you have any question ask us or write to kataendreeskuvoje@gmail.com! 
				</p>
			</div>
				
				

				


				
			</div>
		</div>
	</div>
</div>