


<div>
	<div class="row">
		<div class="col-lg-8 col-lg-push-2">
			<div class="first-section section">
				<b><h2 class='hl'>Kedves család es barátok!</h2></b>
				<p>Nagyon várjuk a Júniust és hogy együtt ünnepeljünk!</p>
				<p>Ezt az oldalt folyamatosan fogjuk frissíteni információkkal, addig is kérlek jelezzetek vissza 2017. Április 5-ig <a class='feedback' target='_blank' 
				href='' ><br/>ezen a linken!</a></p>
			</div>
			

			<div class="section">
				<b><h2 class='hl'>Helyszín</h2></b>
				<p><a target='_blank' href="http://www.somogykertje.hu/">Somogy Kertje Üdülõfalu</a></p>

				<p>Megközelítés autóval:</p> 
				<a target='_blank' href="https://www.google.co.uk/maps/dir/Kaposv%C3%A1r,+Hungary/Bonnya,+Hungary/@46.4811266,17.7134692,11z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x47683de4c4aba965:0x400c4290c1e1220!2m2!1d17.7967639!2d46.3593606!1m5!1m1!1s0x47683431be84eb31:0x5732a495af28a033!2m2!1d17.9010074!2d46.5935409"><p>Kaposvárról kb. 40 perc</p></a>
				<a target='_blank' href="https://www.google.co.uk/maps/dir/Budapest,+Hungary/Bonnya,+Hungary/@47.0391615,17.9725625,9z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x4741c334d1d4cfc9:0x400c4290c1e1160!2m2!1d19.040235!2d47.497912!1m5!1m1!1s0x47683431be84eb31:0x5732a495af28a033!2m2!1d17.9010074!2d46.5935409"><p>Budapestrõl autópályán kb. 1 óra 40 perc</p></a>
			</div>

			<div class="section">
				<b><h2 class='hl'>Program</h2></b>

				<p>Nemsokára!</p>
				
				<!-- <p>Ha szeretnétek lepakolni a szobátokba, ajánlott megérkezni x ora elõtt.</p>
				
				<p>16:15 - 17:15 - vendégváró (Alkoholmentes üdvözlőitalok, mini langallók)</p>
				<p>17:30 - szertartás, csokordobás, fényképezkedés</p>
				<p>18:30 - vacsi</p>
				<p>20:38 - napnyugta, mi kilopodzunk fenykepezkedni 20:10 körül</p>
				<p>21:00 - nyitótánc</p>
				<p>22:00 - menyasszonytánc</p>
				<p>23:00 - torta</p>
				<p>Zenekarunk 2:00-ig lesz, saját zene mehet bármeddig, de 4:00-kor ki kell mennunk a terembol, ami nem baj, mert elvisszuk a partit mashova, ha nagyon jol alakul az este:)</p> -->
			</div>
		</div>
	</div>
</div>

