

<div>

	
<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a class="page-scroll" href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#rsvp">Visszajelzés</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#location">Helyszín</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#travel">Utazás</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#program">Program</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
	<div class="row">
		<div class="col-lg-8 col-lg-push-2">
			<div id="rsvp" class="first-section section">
				<b><h2 class='hl'>Kedves család és barátok!</h2></b>
				<p>Mi alig várjuk az esküvőt és hogy együtt ünnepeljünk veletek!</p>
				<p>Ezt az oldalt folyamatosan fogjuk frissíteni információkkal, úgyhogy nézzetek rá néha, addig is kérlek jelezzetek vissza 2017. Április 5-ig <a class='feedback' target='_blank' 
				href='https://docs.google.com/forms/d/e/1FAIpQLSciEK7zetQrlIFzrap02dHSGFfH1wqqCIkmDoU5OOV4PV3T3A/viewform' ><br/>ezen a linken!</a></p>
			</div>
			

			<div id="location" class="section row">
				<b><h2 class='hl'>Helyszín</h2></b>
				<p><a target='_blank' href="http://www.somogykertje.hu/">Somogy Kertje Üdülõfalu</a></p>

				<iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d175831.4127375406!2d17.72972037820518!3d46.481068239469316!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e0!4m5!1s0x47683de4c4aba965%3A0x400c4290c1e1220!2sKaposv%C3%A1r%2C+Hungary!3m2!1d46.359360599999995!2d17.7967639!4m5!1s0x476834293241afe7%3A0x58516375632a3f3d!2sKossuth+Lajos+u.+90%2C+Bonnya%2C+7281+Hungary!3m2!1d46.588963!2d17.900676!5e0!3m2!1sen!2suk!4v1487242055054" width=47% height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
				<iframe class="pull-right" src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d696100.246467876!2d17.91023618874991!3d47.0374524156037!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0x4741c334d1d4cfc9%3A0x400c4290c1e1160!2sBudapest%2C+Hungary!3m2!1d47.497912!2d19.040235!4m5!1s0x476834293241afe7%3A0x58516375632a3f3d!2sKossuth+Lajos+u.+90%2C+Bonnya%2C+7281+Hungary!3m2!1d46.588963!2d17.900676!5e0!3m2!1sen!2suk!4v1487241343889" width= 47% height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>

			<div id="travel" class="section">
				<b><h2 class='hl'>Utazás</h2></b>
				<p>
					Nagy szívesség lenne azok részérõl, akik autóval jönnek és marad a kocsiban szabad hely, ha befogadnának olyanokat, akiknek nincs autója.
				</p>
				<p>
					Ezért megpróbálunk minden autóst és autótlant összeboronálni, de mindenképpen meg fogjuk oldani mindenki szállítását vagy Kaposvárról vagy Siófokról.
				</p>
				<p style="margin-bottom: 20px;">Hogy ezt könnyebbé tegyük, ha ismeritek egymást, álljatok össze, vagy amint kitaláltátok az utazásotok részleteit, itt jelezzetek vissza arról, hogy tudtok-e vinni valakit vagy szükségetek van-e fuvarra:</p>
					<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSc92SnH2xfGeoLx3pbOKGPV9vzUNZ2Oo1YS_Ui4Y_hey3BYAg/viewform?embedded=true" width="760" height="1050" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
				
			</div>

			<div id="program" class="section">
				<b><h2 class='hl'>Június 3 Program</h2></b>

				<p>Nemsokára!</p>
			</div>

			<div class="section last-section">
				<p>
					Kérdéseket várunk a kataendreeskuvoje@gmail.com-on vagy bárhol máshol!
				</p>
			</div>
				
				

				


				<!-- <p>Ha szeretnétek lepakolni a szobátokba, ajánlott megérkezni x ora elõtt.</p>

				Érkezés: vendégváró nasi 16:00-tól, de ha le szeretnétek pakolni a szobába, érdemes elõbb érkezni.
				
				<p>16:15 - 17:15 - vendégváró (Alkoholmentes üdvözlőitalok, mini langallók)</p>
				<p>17:30 - szertartás, csokordobás, fényképezkedés</p>
				<p>18:30 - vacsi</p>
				<p>20:38 - napnyugta, mi kilopodzunk fenykepezkedni 20:10 körül</p>
				<p>21:00 - nyitótánc</p>
				<p>22:00 - menyasszonytánc</p>
				<p>23:00 - torta</p> -->
				
		</div>
	</div>
</div>


