


<div>
	<div class="first-section">
		<p>Kedves család es barátok!</p>
		<p>Itt igyekszünk minden fontos infót leírni az esküvõnkkel kapcsolatban, ezek elolvasása után kérlek jelezzetek vissza 2017. Április 5-ig <a target='_blank' href=''>ezen a linken</a>!</p>
	</div>
	

	<div class="section">
		<b><p>Utazás</p></b>
		<p>Mi imádjuk a <a target='_blank' href="http://www.somogykertje.hu/">helyszínt</a> de az odajutás egy kis szervezést igényel majd. Az autósokat és autó nélkülieket egymáshoz fogjuk irányítani és aki nem fér be máshoz, azt is elhozzuk Siófokról vagy Kaposvárról. Reméljük, hogy minden más kárpótol majd minket az utazásért :)</p>
	</div>
	
	<div class="section">
		<span>Megközelítés autóval</span> 
		<a target='_blank' href="https://www.google.co.uk/maps/dir/Kaposv%C3%A1r,+Hungary/Bonnya,+Hungary/@46.4811266,17.7134692,11z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x47683de4c4aba965:0x400c4290c1e1220!2m2!1d17.7967639!2d46.3593606!1m5!1m1!1s0x47683431be84eb31:0x5732a495af28a033!2m2!1d17.9010074!2d46.5935409"><p>Kaposvárról kb. 40 perc</p></a>
		<a target='_blank' href="https://www.google.co.uk/maps/dir/Budapest,+Hungary/Bonnya,+Hungary/@47.0391615,17.9725625,9z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x4741c334d1d4cfc9:0x400c4290c1e1160!2m2!1d19.040235!2d47.497912!1m5!1m1!1s0x47683431be84eb31:0x5732a495af28a033!2m2!1d17.9010074!2d46.5935409"><p>Budapestrõl autópályán kb. 1 óra 40 perc</p></a>
	</div>
	
	<div class="section">
		<b><p>Szállás</p></b>
		<p>A Somogy Kertjében felújított vendégházak vannak, 2-5 személyes, többnyire pótágyazható szobák (van ahova 10 pótágy is kérhetõ, szóval rengeteg a variáció), nagyrészt külön fürdõszobával. Van jacuzzi, szabatéri medence, finn szaunaház, biliárd, asztalitenisz, lengőteke, csocsó, gyermekjátszótér, lehet mini túrákat tenni a környezõ dombokon is vagy lehet farmot látogatni állatkákkal. Ezen kívül felajánlották, hogy az esküvõ elõtti és utáni napon is ugyanazon a kedvezményes áron aludhat ott mindenki, amibe beletartozik a bõséges falusi reggeli is. (6000 ft/fõ)</p>
	</div>
	
	<div class="section">
		<b><p>Dátum</p></b>
		<p>Így lett az esküvõ dátuma június 2-3-4, mindenkit nagy szeretettel várunk tehát mindhárom napon! Itt szeretném felhívni a figyelmet arra, hogy június 5-e hétfõ munkaszüneti nap, juhú! (Akik elõbb jönnek, segíthetnek például a díszítésben, vagy megnézhetik, hogy megszökik-e valamelyikünk az utolsó pillanatban. Hát kell ennél több?!)</p>
		<p>Ha valaki csak egy napra jönne, a lényeg 3-án lesz:)</p>
	</div>
	
	<div class="section">
		<b><p>Kisgyerekeseknek</p></b>
		<p>Biztosítanak kedvezményt, 0-4 éves korig 100%, 4- 12 éves korig 50% a szállás árából. A kedvezmény a szülőkkel egy ágyban ill. egy szobában történő elhelyezés esetén érvényes.</p>
		<p>Lehetõség van szakképzett gyerekfelügyelõ segítségét kérni. Õ egy diplomás gyógy-gyermekpedagógus hölgy, aki a vacsora és a buli ideje alatt szívesen leköti a gyerekek figyelmét, játékokkal, rajzokkal, diavetítéssel, stb. 18 – 24 óráig terjedő időszakra. Rákérdeztem és egészen pici gyerekek felügyeletét is vállalja.</p>
	</div>

	<div class="section">
		<b><p>Program (juni. 3)</p></b>
		
		<p>Ha szeretnétek lepakolni a szobátokba, ajánlott megérkezni x ora elõtt.</p>
		
		<p>16:15 - 17:15 - vendégváró (Alkoholmentes üdvözlőitalok, mini langallók)</p>
		<p>17:30 - szertartás, csokordobás, fényképezkedés</p>
		<p>18:30 - vacsi</p>
		<p>20:38 - napnyugta, mi kilopodzunk fenykepezkedni 20:10 körül</p>
		<p>21:00 - nyitótánc</p>
		<p>22:00 - menyasszonytánc</p>
		<p>23:00 - torta</p>
		<p>Zenekarunk 2:00-ig lesz, saját zene mehet bármeddig, de 4:00-kor ki kell mennunk a terembol, ami nem baj, mert elvisszuk a partit mashova, ha nagyon jol alakul az este:)</p>
	</div>
</div>

