/*@font-face {
    font-family: GillSans;
    src: url(/assets/fonts/GillSans.ttc);
}

@font-face {
    font-family: SignPainter;
    src: url(/assets/fonts/SignPainter.otf);
}*/

/*chrome*/
::-webkit-scrollbar {
  display: none;
}

html {
  overflow: -moz-scrollbars-none;
  position: relative;
  min-height: 900px;
}

body {
	background-color: #fff;
}

.flag_hu, .flag_uk {
	position: relative;
	left: -5px;
	width: 30px;
	height: 30px;
}

.flag-container {
	width: 100%;
	background-color: #000;
}

/*video*/

.headline h1{
	font-size: 56px;
}

.homepage-hero-module {
  border-right: none;
  border-left: none;
  position: relative;
}
.no-video .video-container video,
.touch .video-container video {
  display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
  display: block !important;
}
.video-container {
  position: relative;
  bottom: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #000;
}
.video-container .poster img {
  width: 100%;
  bottom: 0;
  position: absolute;
}
.video-container .filter {
  z-index: 100;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
}
.video-container .title-container {
  z-index: 1000;
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #fff;
}
.video-container .description .inner {
  font-size: 1em;
  width: 45%;
  margin: 0 auto;
}
.video-container .link {
  position: absolute;
  bottom: 3em;
  width: 100%;
  text-align: center;
  z-index: 1001;
  font-size: 2em;
  color: #fff;
}
.video-container .link a {
  color: #fff;
}
.video-container video {
  position: absolute;
  z-index: 0;
  bottom: 0;
}
.video-container video.fillWidth {
  width: 100%;
}
