/*@font-face {
    font-family: SignPainter;
    src: url(/assets/fonts/SignPainter.otf);
}*/

/*chrome*/
::-webkit-scrollbar {
  display: none;
}

:root {
  --mycolor: #fde6e7;
};

html {
  overflow: -moz-scrollbars-none;
  position: relative;
  height: 100%;
}

body {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  height: 100%;
  margin: 0;
  background-color: var(--mycolor);
  color: grey;
}

.feedback {
  color: dimgray;
  font-family: 'Satisfy', cursive;
  font-size: 30px;
}

a {
  color: dimgray;
}

.flags {
	margin: 30px auto;
  text-align: center;
}

.flag_hu, .flag_uk {
	width: 30px;
	height: 30px;
}

.headline h1{
  font-family: 'Satisfy', cursive;
  font-size: 100px;
  padding-top: 150px;
  color: white;
}

.hl {
  font-family: 'Satisfy', cursive;
  font-size: 30px;
  padding-bottom: 20px;
  color: #333333;
}

.section {
  margin-top: 55px;
  border-top: solid 1px grey;
  padding-top: 50px;
}

p {
  text-align: center;
}


/*video*/



.homepage-hero-module {
  border-right: none;
  border-left: none;
  margin-bottom: 40px;
  position: relative;
}
.no-video .video-container video,
.touch .video-container video {
  display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
  display: block !important;
}
.video-container {
  position: relative;
  bottom: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: var(--mycolor);
}
.video-container .poster img {
  width: 100%;
  bottom: 0;
  position: absolute;
}
.video-container .filter {
  z-index: 100;
  position: absolute;
  background: rgba(0, 0, 0, 0);
  width: 100%;
}
.video-container .title-container {
  z-index: 1000;
  position: absolute;
  top: 15%;
  width: 100%;
  text-align: center;
  color: var(--mycolor);
}
.video-container .description .inner {
  font-size: 1em;
  width: 45%;
  margin: 0 auto;
}
.video-container .link {
  position: absolute;
  bottom: 3em;
  width: 100%;
  text-align: center;
  z-index: 1001;
  font-size: 2em;
  color: #fff;
}
.video-container .link a {
  color: #fff;
}
.video-container video {
  position: absolute;
  z-index: 0;
  bottom: 0;
}
.video-container video.fillWidth {
  width: 100%;
}

.footer {
  min-height: 100px;
  border-top: solid 1px grey;
}

.first-section {
  font-size: 
}
